doctype html
html(lang="en")
    head
        //meta tag
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(name="developer" content="mohamadreza nasrale zade---mohamadreza1388.org@gmail.com")
        meta(name="developer phone" content="09030422838")
        //web title
        title سایت آماده فروشگاه قهوه و تجهیزات آن
        //web favicon
        link(rel="icon" type="image/png" href="images/fav-icon.svg" sizes="30x30")
        //css link
        link(rel="stylesheet" href="../css/style.min.css")
        link(rel="stylesheet" href="css/blog.min.css")
        link(rel="stylesheet" href="../css/responsive.min.css")
    body.bg-2.d-none.overflow-x-hidden.overflow-y-auto
        include header
        main.mt-5
            div.my-container.row
                div.col-lg-3.p-0.col-12
                    div.bg-white.rounded-3.shadow.min-height-365px.width-250px.d-flex.flex-column.justify-content-between.align-items-start.p-3.py-4.list
                        a(href="#").blog-g-item.d-flex.justify-content-start.align-items-center.gap-2.text-black.font-size-15px
                            img(src="images/blog-grouping/honar-cat-1.svg" alt="").width-22px.height-22px
                            | هنر و سینما
                        a(href="#").blog-g-item.d-flex.justify-content-start.align-items-center.gap-2.text-black.font-size-15px
                            img(src="images/blog-grouping/montakhab-cat-2.svg" alt="").width-22px.height-22px
                            | منتخب سردبیر
                        a(href="#").blog-g-item.d-flex.justify-content-start.align-items-center.gap-2.text-black.font-size-15px
                            img(src="images/blog-grouping/ketab-cat-3.svg" alt="").width-22px.height-22px
                            | کتاب و ادبیات
                        a(href="#").blog-g-item.d-flex.justify-content-start.align-items-center.gap-2.text-black.font-size-15px
                            img(src="images/blog-grouping/elm-cat-4.svg" alt="").width-22px.height-22px
                            | علم و تکنولوژی
                        a(href="#").blog-g-item.d-flex.justify-content-start.align-items-center.gap-2.text-black.font-size-15px
                            img(src="images/blog-grouping/sabk-cat-5.svg" alt="").width-22px.height-22px
                            | سبک زندگی
                        a(href="#").blog-g-item.d-flex.justify-content-start.align-items-center.gap-2.text-black.font-size-15px
                            img(src="images/blog-grouping/game-cat-7.svg" alt="").width-22px.height-22px
                            | بازی ویدئویی
                        a(href="#").blog-g-item.d-flex.justify-content-start.align-items-center.gap-2.text-black.font-size-15px
                            img(src="images/blog-grouping/box-cat-8.svg" alt="").width-22px.height-22px
                            | آنباکس محصولات
                div.col-lg-9.p-0.blog-container.col-12.mt-lg-0.mt-4
                    div.col-12.height-221px.d-flex.justify-content-center.gap-3.align-items-center.flex-row-reverse
                        div.item.overflow-hidden.rounded-4.h-100.fade-effect.position-relative
                            img(src="images/blog/head/1.jpg" alt="").w-100.h-100.position-relative.object-fit-cover
                            div.content.w-100.min-height-60px.d-flex.position-absolute.bottom-0.start-0.flex-column.justify-content-start.gap-1
                                div.date-comment.d-flex.justify-content-center.align-items-center.gap-3
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-calendar
                                        |14 اذر 1402
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-comment-dots
                                        | بدون دیدگاه
                                div.item-title.text-white.text-center.font-size-14px رویداد رونمایی از سرفیس‌ها در تاریخ ۲۰ مهر برگزار می‌شود
                        div.item.overflow-hidden.rounded-4.h-100.fade-effect.position-relative
                            img(src="images/blog/head/2.jpg" alt="").w-100.h-100.position-relative.object-fit-cover
                            div.content.w-100.min-height-60px.d-flex.position-absolute.bottom-0.start-0.flex-column.justify-content-start.gap-1
                                div.date-comment.d-flex.justify-content-center.align-items-center.gap-3
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-calendar
                                        |14 اذر 1402
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-comment-dots
                                        | بدون دیدگاه
                                div.item-title.text-white.text-center.font-size-14px رویداد رونمایی از سرفیس‌ها در تاریخ ۲۰ مهر برگزار می‌شود

                    div.col-12.height-221px.d-flex.justify-content-center.gap-3.align-items-center.flex-row-reverse.mt-3
                        div.item.overflow-hidden.rounded-4.h-100.fade-effect.position-relative
                            img(src="images/blog/head/3.jpg" alt="").w-100.h-100.position-relative.object-fit-cover
                            div.content.w-100.min-height-60px.d-flex.position-absolute.bottom-0.start-0.flex-column.justify-content-start.gap-1
                                div.date-comment.d-flex.justify-content-center.align-items-center.gap-3
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-calendar
                                        |14 اذر 1402
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-comment-dots
                                        | بدون دیدگاه
                                div.item-title.text-white.text-center.font-size-14px بررسی ادوپرفیوم ویکتوریا سکرت
                        div.item.overflow-hidden.rounded-4.h-100.fade-effect.position-relative
                            img(src="images/blog/head/4.jpg" alt="").w-100.h-100.position-relative.object-fit-cover
                            div.content.w-100.min-height-60px.d-flex.position-absolute.bottom-0.start-0.flex-column.justify-content-start.gap-1
                                div.date-comment.d-flex.justify-content-center.align-items-center.gap-3
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-calendar
                                        |14 اذر 1402
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-comment-dots
                                        | بدون دیدگاه
                                div.item-title.text-white.text-center.font-size-14px ۱۰ بازیگر که با نقش‌های منفی جایزه اسکار گرفتند


                        div.item.overflow-hidden.rounded-4.h-100.fade-effect.position-relative
                            img(src="images/blog/head/5.jpg" alt="").w-100.h-100.position-relative.object-fit-cover
                            div.content.w-100.min-height-60px.d-flex.position-absolute.bottom-0.start-0.flex-column.justify-content-start.gap-1
                                div.date-comment.d-flex.justify-content-center.align-items-center.gap-3
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-calendar
                                        |14 اذر 1402
                                    span.date.d-flex.gap-1.font-size-12px.align-items-center
                                        i.fas.fa-comment-dots
                                        | بدون دیدگاه
                                div.item-title.text-white.text-center.font-size-14px ۶ تکنولوژی که دیرتر از رقبا به آیفون آمده‌اند


                div.col-12.p-0.d-lg-block.d-none
                    img(src="images/blog-banner-2-1.png" alt="").min-height-148px.d-block.mx-auto.my-3.mt-5.w-100

        include footer
        script(src="../node_modules/jquery/dist/jquery.min.js")
        script(src="../node_modules/owl.carousel/dist/owl.carousel.min.js")
        script(src="../node_modules/slick-carousel/slick/slick.min.js")
        script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
        script(src="../scripts/cssMyLibrary.min.js")
        script(src="../scripts/index.min.js")
