footer.bottom-footer.bg-4.mt-5
    div.my-container.pt-5
        div.news-letters.row.px-4.bg-3.border-radius-24px.height-110px.overflow-hidden.m-0.w-100
            div.col-md-7.col-12.d-flex.flex-column.align-items-start.justify-content-center.p-0.gap-2
                h4.f-rokh.text-black.m-0  خبرنامه قهوه شاپ
                p.lh-base.font-size-14px.font-weight-300.m-0  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.




            div.col-md-5.col-12.d-flex.justify-content-center.align-items-center.p-0
                form(method="post" action="#").d-flex.justify-content-center.align-items-center.bg-white.width-fit-content.rounded-6.overflow-hidden.w-100
                    input(type="email" minlength="5" maxlength="200" placeholder="ادرس ایمیل خود را وارد کنید" name="user-email" id="user-email" required).border-0.w-100.ps-2.h-100.text-start.d-inline-block
                    button(type="submit").border-0.bg-1.rounded-6.text-white.width-100px.height-43px.d-flex.align-items-center.justify-content-center عضویت
        div.footer-content.min-height-200px.row.mt-5.ps-md-0.ps-4
            div.align-middle.col-md-3.d-flex.flex-column.align-items-start.justify-content-start.gap-3.col-12
                a(href="page_index.html")
                    img(src="images/logo2.svg" alt="logo").width-220px.height-65px
                p.lh-lg.text-white.font-weight-300.font-size-13px لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            div.align-middle.col-md-2.col-6.p-0
                div.footer-title.d-flex.gap-lg-2.text-white.align-items-center.justify-content-start.gap-1
                    i.fas.fa-circle.green.font-size-10px.align-middle.mb-1
                    h5.f-rokh.m-0.align-middle خدمات مشتریان

                ul.footer-list.list-style-none.d-flex.gap-2.mt-3.flex-column
                    li
                        a(href="#").text-white.font-size-14px.font-weight-300 باشگاه مشتریان
                    li
                        a(href="#").text-white.font-size-14px.font-weight-300 همکاری در فروش
                    li
                        a(href="#").text-white.font-size-14px.font-weight-300 تخفیف‌ها
                    li
                        a(href="#").text-white.font-size-14px.font-weight-300 فرصت‌های شغلی
                    li
                        a(href="#").text-white.font-size-14px.font-weight-300 مرجوع کالا
                    li
                        a(href="#").text-white.font-size-14px.font-weight-300 سوالات متداول
            div.align-middle.col-md-2.col-6
                div.footer-title.d-flex.gap-2.text-white.align-items-center.justify-content-start
                    i.fas.fa-circle.green.font-size-10px.align-middle.mb-1
                    h5.f-rokh.m-0.align-middle لینک‌های مفید
                ul.footer-list.list-style-none.d-flex.gap-2.mt-3.flex-column
                    li
                        a(href="https://front.iapp.ir/coffee/Coffee%20site/").text-white.font-size-14px.font-weight-300 صفحه اصلی
                    li
                        a(href="https://front.iapp.ir/coffee/Coffee%20site/section/store.html").text-white.font-size-14px.font-weight-300 سفارش قهوه
                    li
                        a(href="https://front.iapp.ir/coffee/Coffee%20site/section/about-us.html").text-white.font-size-14px.font-weight-300 درباره ما
                    li
                        a(href="https://front.iapp.ir/coffee/Coffee%20site/section/store.html").text-white.font-size-14px.font-weight-300 فروشگاه ما
                    li
                        a(href="https://front.iapp.ir/coffee/Coffee%20site/section/blog.html").text-white.font-size-14px.font-weight-300 آخرین مقالات
                    li
                        a(href="https://front.iapp.ir/coffee/Coffee%20site/section/contact-us.html").text-white.font-size-14px.font-weight-300 ارتباط با ما
            div.align-middle.col-md-2.mt-md-0.mt-5.col-6.p-0
                div.footer-title.d-flex.gap-2.text-white.align-items-center.justify-content-start
                    i.fas.fa-circle.green.font-size-10px.align-middle.mb-1
                    h5.f-rokh.m-0.align-middle راه‌های ارتباطی
                ul.footer-list.list-style-none.d-flex.gap-3.mt-3.flex-column
                    li.d-flex.align-items-center.justify-content-start.gap-2.text-white.font-weight-300
                        img(src="images/phone.svg" alt="").width-20.height-20.d-inline-block
                        | 031-55245583
                    li.d-flex.align-items-center.justify-content-start.gap-2.text-white.font-weight-300
                        img(src="images/mobile.svg" alt="").width-20.height-20.d-inline-block
                        | 09030422838
                    li.d-flex.align-items-center.justify-content-start.gap-2.text-white.font-weight-300
                        img(src="images/email.svg" alt="").width-20.height-20.d-inline-block
                        | Info@yoursite.com
                    li.d-flex.align-items-center.justify-content-start.gap-2.text-white.font-weight-300
                        img(src="images/map.svg" alt="").width-20.height-20.d-inline-block
                        | کاشان خیابان امام کوچه زارع 38


            div.align-middle.col-md-3.mt-md-0.mt-5.col-6.d-flex.flex-column.align-items-start.justify-content-start.gap-3.ps-2
                div.footer-title.d-flex.gap-2.text-white.align-items-center.justify-content-start
                    i.fas.fa-circle.green.font-size-10px.align-middle.mb-1
                    h5.f-rokh.m-0.align-middle نماد اعتماد
                p.lh-lg.text-white.font-weight-300.font-size-13px لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون میباشد.
                div.mojavez-box.d-flex.align-items-center.justify-content-start.gap-3
                    img(src="images/mojavez.jpg" alt="").width-90px.height-90px.rounded-4
                    img(src="images/mojavez.jpg" alt="").width-90px.height-90px.rounded-4
        div.copy-right.text-white.py-3.d-flex.justify-content-between.align-items-center
            div.content.font-weight-300.font-size-14px تمامی حقوق مادی و معنوی این سایت متعلق به سایت قهوه می باشد
            div.social-media.d-flex.justify-content-end.align-items-center.gap-2
                a(href="#").d-flex.width-25px.height-25px
                    img(src="images/social-media/facebook.svg" alt="").w-100.h-100
                a(href="#").d-flex.width-25px.height-25px
                    img(src="images/social-media/telegram.svg" alt="").w-100.h-100
                a(href="#").d-flex.width-25px.height-25px
                    img(src="images/social-media/youtube.svg" alt="").w-100.h-100
                a(href="#").d-flex.width-25px.height-25px
                    img(src="images/social-media/whatsapp.svg" alt="").w-100.h-100