header.top-header.mx-md-4.mx-2.mt-3.row.px-lg-2.rounded-6.navbar.bg-3.px-1.height-76px
    div.bars.d-md-none.col-4
        button(type="button").border-0.bars-btn
            img(src="images/hamburger-menu.svg" alt="").width-25px.height-25px

    div.col-lg-8.d-flex.align-items-center.col-md-10.col-4.justify-content-md-start.justify-content-center
        a(href="index.html").d-flex.align-items-center.justify-content-center.site-logo
            img(src="images/Logo.svg")
        ul.list-style-none.d-md-flex.align-items-center.gap-3.ps-2.gap-lg-4.ps-xl-5.d-none
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/").d-flex.justify-content-center.align-items-center.fw-lighter.gap-1.text-nowrap
                    img(src="images/home.svg" alt="").width-19.height-19
                    | خانه
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/store.html").d-flex.justify-content-center.align-items-center.fw-lighter.gap-1.text-nowrap
                    img(src="images/basket1.svg" alt="").width-19.height-19
                    | فروشگاه
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/order-coffee.html").d-flex.justify-content-center.align-items-center.fw-lighter.gap-1.text-nowrap
                    img(src="images/glass.svg" alt="").width-19.height-19
                    | سفارش قهوه
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/blog.html").d-flex.justify-content-center.align-items-center.fw-lighter.gap-1.text-nowrap
                    img(src="images/blog.svg" alt="").width-19.height-19
                    | وبلاگ
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/about-us.html").d-flex.justify-content-center.align-items-center.fw-lighter.gap-1.text-nowrap
                    img(src="images/about.svg" alt="").width-19.height-19
                    | درباره ما
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/contact-us.html").d-flex.justify-content-center.align-items-center.fw-lighter.gap-1.text-nowrap
                    img(src="images/telephone1.svg" alt="").width-19.height-19
                    | تماس با ما

    div.col.d-flex.align-items-center.justify-content-end.gap-lg-3.gap-2
        form(method="get" action="#").search-form.bg-white.px-2.py-1.rounded-6.d-lg-flex.align-items-center.justify-content-between.d-none
            input(type="search" name="search-inp" placeholder="جستجو..." required).search-inp.bg-transparent.border-0.p-1
            button(type="submit").border-0.bg-transparent
                img(src="images/search.svg" alt="").width-19.height-19
        a(href="https://front.iapp.ir/coffee/Coffee%20site/section/login-register.html").bg-black.rounded-7.width-37.height-37.d-flex.justify-content-center.align-items-center
            img(src="images/user.svg" alt="").width-19.height-19
        a(href="#").bg-black.rounded-7.width-37.height-37.d-flex.justify-content-center.align-items-center
            img(src="images/basket2.svg" alt="").width-19.height-19
div.overlay.position-fixed.w-100.vh-100.top-0
    div.right-menu.width-300px.vh-100.bg-white.position-fixed.top-0.px-3
        button(type="button" class="btn-close" aria-label="Close").position-absolute.top-5px.left-5px.close-btn
        img(src="images/logo3.svg" alt="").d-block.width-270px.height-55px.mx-auto.my-3
        form(method="get" action="#").search-form.px-2.py-1.rounded-6.d-flex.align-items-center.justify-content-between.bg-3.w-100
            input(type="search" name="search-inp2" placeholder="جستجو..." required).search-inp.bg-transparent.border-0.p-1
            button(type="submit").border-0.bg-transparent
                img(src="images/search.svg" alt="").width-19.height-19
        ul.menu-list.list-style-none.p-0.m-0.d-flex.flex-column.gap-3.mt-4
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/").text-decoration-none.green.font-weight-300.font-size-15px خانه
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/store.html").text-decoration-none.text-black.font-weight-300.font-size-15px فروشگاه
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/order-coffee.html").text-decoration-none.text-black.font-weight-300.font-size-15px ترکیب سفارشی
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/blog.html").text-decoration-none.text-black.font-weight-300.font-size-15px وبلاگ
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/about-us.html").text-decoration-none.text-black.font-weight-300.font-size-15px درباره ما
            li
                a(href="https://front.iapp.ir/coffee/Coffee%20site/section/contact-us.html").text-decoration-none.text-black.font-weight-300.font-size-15px تماس با ما
