doctype html
html(lang="en")
    head
        //meta tag
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(name="developer" content="mohamadreza nasrale zade---mohamadreza1388.org@gmail.com")
        meta(name="developer phone" content="09030422838")
        //web title
        title سایت آماده فروشگاه قهوه و تجهیزات آن
        //web favicon
        link(rel="icon" type="image/png" href="images/fav-icon.svg" sizes="30x30")
        //css link
        link(rel="stylesheet" href="../css/style.min.css")
        link(rel="stylesheet" href="css/order-coffee.min.css")
        link(rel="stylesheet" href="../css/responsive.min.css")
    body.bg-2.d-none.overflow-x-hidden.overflow-y-auto.order-coffee
        include header
        main
            div.my-container.row.flex-column-reverse.flex-md-row
                div.col-lg-6.right.position-relative.col-md-7.col-12
                    h1.f-rokh.text-black.text-black.mb-2.width-fit-content.margin-top-170px.text-header
                        img(src="images/fav-icon.svg" alt="" width="38")
                        | ترکیب سفارشی
                        img(src="images/dots.svg" alt="" width="38")
                    p.fw-lighter.lh-base.font-size-17px لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد .
                    div.btn-box.position-relative.my-2.my-lg-4
                        a(href="").green-btn.text-white.rounded-6.d-inline-flex.align-items-center.justify-content-center.gap-1.position-absolute.translate-effect2
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none").width-19.height-19
                                path(d="M2 13.55V10.47C2 8.14001 3.89 6.26001 6.21 6.26001H13.58C15.91 6.26001 17.79 8.15001 17.79 10.47V17.79C17.79 20.12 15.9 22 13.58 22H6.21C3.89 22 2 20.11 2 17.79" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M5.5 4V2.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M9.5 4V2.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M13.5 4V2.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M22 13.16C22 15.48 20.11 17.37 17.79 17.37V8.94995C20.11 8.94995 22 10.83 22 13.16Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M2 12H17.51" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

                            | ترکیب سفارشی
                        a(href="").white-btn.green.rounded-6.d-inline-flex.align-items-center.justify-content-center.gap-1.bg-white.position-absolute.translate-effect2
                            img(src="images/basket1.svg" alt="").width-19.height-19
                            | خرید کنید

                div.col-lg-6.left.col-md-5.col-12
                    img(src="images/mainPicture.jpg" alt="").w-100.left-img.height-650px.object-fit-contain.mt-2
        section#custom-combination.pb-5
            div.my-container
                div.row.w-100
                    div.col-md-4.col-12.d-flex.justify-content-center.align-items-center.position-relative
                        img(src="../images/custom/custom3.svg" alt="").width-110.height-110
                        span.fs-5.f-rokh انتخاب نوع و نژاد قهوه
                        img(src="../images/Arrow_03.svg" alt="").position-absolute.top--32px.left--60px

                    div.col-md-4.col-12.d-flex.justify-content-center.align-items-center.position-relative
                        img(src="../images/custom/custom2.svg" alt="").width-110.height-110
                        span.fs-5.f-rokh تنظیم درصد رست و ترکیب
                        img(src="../images/Arrow_03.svg" alt="").position-absolute.top-70px.left--60px

                    div.col-md-4.col-12.d-flex.justify-content-center.align-items-center.position-relative
                        img(src="../images/custom/custom1.svg" alt="").width-110.height-110
                        span.fs-5.f-rokh ثبت سفارش و تحویل بسته
        section#coffee-container.mt-4
            div.my-container.bg-white.min-height-500px.rounded-5.padding-32px
                div.row.p-0.mx-0
                    div.col-12.row.my-2.p-0.mx-0.d-flex.gap-
                        div.col-lg-3.col-12.d-flex.justify-content-center.align-items-start.gap-2.flex-column.p-0.mx-0
                            h3.f-rokh.green.fw-bold.m-0 نژاد عربیکـــــا :
                            p.fw-light.text-secondary.p-0.title-caption در اینجا میبایست نژاد قهوه عربیکا خود را در بین گزینه های مقابل انتخاب نمایید .
                        div.col-lg-9.col-12.d-flex.item-wrapper.justify-content-between.align-items-center.p-0.mx-0.gap-3
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/countries/Mask-group.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 Kenya
                                    span.font-size-15px.fw-light خواستگاه: کنیــا
                                    span.font-size-15px.fw-light رست : مدیوم
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/countries/Mask-group-1.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 Colombia
                                    span.font-size-15px.fw-light خواستگاه: کلمبیا
                                    span.font-size-15px.fw-light رست : مدیوم
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/countries/Mask-group-2.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 Peru
                                    span.font-size-15px.fw-light خواستگاه: پرو
                                    span.font-size-15px.fw-light رست : مدیوم


                    div.col-12.row.my-2.p-0.mx-0.d-flex.gap-
                        div.col-lg-3.col-12.d-flex.justify-content-center.align-items-start.gap-2.flex-column.p-0.mx-0
                            h3.f-rokh.green.fw-bold.m-0 نژاد روبوســتا :
                            p.fw-light.text-secondary.p-0.title-caption در اینجا میبایست نژاد قهوه عربیکا خود را در بین گزینه های مقابل انتخاب نمایید .
                        div.col-lg-9.col-12.d-flex.item-wrapper.justify-content-between.align-items-center.p-0.mx-0.gap-3
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/countries/Mask-group-3.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 Indonesia
                                    span.font-size-15px.fw-light خواستگاه: اندونزی
                                    span.font-size-15px.fw-light رست : مدیوم
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/countries/Mask-group-4.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 Vietnam
                                    span.font-size-15px.fw-light خواستگاه: ویتنام
                                    span.font-size-15px.fw-light رست : مدیوم
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/countries/Mask-group-5.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 India
                                    span.font-size-15px.fw-light خواستگاه: هند
                                    span.font-size-15px.fw-light رست : مدیوم


                div.row.p-0.mt-4
                    div.error1.w-100.height-50px.rounded-4.text-danger.align-items-center.justify-content-center کاربر گرامی ، جمع درصد ترکیب های نژاد عربیکا و روبوستا نباید بیشتر و یا کمتر از 100% باشد
                    h2.f-rokh.text-black.mt-5.mx-auto.width-fit-content.mb-4
                        img(src="images/fav-icon.svg" alt="" width="38")
                        | تنظیم ترکیبات قهوه
                        img(src="images/dots.svg" alt="" width="38")
                    div.col-12.row.my-2.p-0.mx-0.d-flex
                        div.col-lg-3.col-12.d-flex.justify-content-center.align-items-start.gap-2.flex-column.p-0.mx-0
                            h3.f-rokh.green.fw-bold.m-0 درصد ترکیب عربیکا :
                            p.fw-light.text-secondary.p-0.title-caption در اینجا میبایست نژاد قهوه عربیکا خود را در بین گزینه های مقابل انتخاب نمایید .
                        div.col-lg-9.col-12.d-flex.item-wrapper.justify-content-start.align-items-start.p-0.mx-0.flex-column
                            div.range-input-box.w-100
                                input(type="range" step="10" min="10" max="100" value="50").w-100.height-20px.a
                            div.sub-range.w-100.d-flex.align-items-center.justify-content-between
                                span.f-rokh.green 10
                                span.f-rokh.green 20
                                span.f-rokh.green 30
                                span.f-rokh.green 40
                                span.f-rokh.green 50
                                span.f-rokh.green 60
                                span.f-rokh.green 70
                                span.f-rokh.green 80
                                span.f-rokh.green 90
                                span.f-rokh.green 100
                    div.col-12.row.my-2.p-0.mx-0.d-flex.mt-4
                        div.col-lg-3.col-12.d-flex.justify-content-center.align-items-start.gap-2.flex-column.p-0.mx-0
                            h3.f-rokh.green.fw-bold.m-0 درصد ترکیب روبوستا :
                            p.fw-light.text-secondary.p-0.title-caption در اینجا میبایست نژاد قهوه عربیکا خود را در بین گزینه های مقابل انتخاب نمایید .
                        div.col-lg-9.col-12.d-flex.item-wrapper.justify-content-start.align-items-start.p-0.mx-0.flex-column
                            div.range-input-box.w-100
                                input(type="range" step="10" min="10" max="100" value="50").w-100.height-20px
                            div.sub-range.w-100.d-flex.align-items-center.justify-content-between
                                span.f-rokh.green 10
                                span.f-rokh.green 20
                                span.f-rokh.green 30
                                span.f-rokh.green 40
                                span.f-rokh.green 50
                                span.f-rokh.green 60
                                span.f-rokh.green 70
                                span.f-rokh.green 80
                                span.f-rokh.green 90
                                span.f-rokh.green 100
                    div.col-12.row.mb-5.p-0.mx-0.d-flex.mt-4
                        div.col-lg-3.col-12.d-flex.justify-content-center.align-items-start.gap-2.flex-column.p-0.mx-0
                            h3.f-rokh.green.fw-bold.m-0 وزن بسته قهوه شما :
                            p.fw-light.text-secondary.p-0.title-caption وزن بسته ترکیب سفارشی خود را از بین گزینه های مقابل انتخاب نمایید .
                        div.col-lg-9.col-12.d-flex.item-wrapper.justify-content-center.align-items-center.p-0.mx-0.gap-5
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/coffee-picture.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 100 گرم
                                    span.font-size-15px.fw-light قهوه عربیکا و روبوستا
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/coffee-picture.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 150 گرم
                                    span.font-size-15px.fw-light قهوه عربیکا و روبوستا
                            div.item.height-130px.bg-2.rounded-4.row.p-0.cursor-pointer.user-select-none
                                div.col-5.p-0.d-flex.align-items-center.justify-content-start.h-100
                                    img(src="images/coffee-picture.png" alt="").w-100.height-100px
                                div.col-7.p-0.h-100.d-flex.flex-column.justify-content-center.align-items-start.ps-3.gap-2
                                    h4.text-black.f-rokh.m-0 200 گرم
                                    span.font-size-15px.fw-light قهوه عربیکا و روبوستا



        include footer
        script(src="../node_modules/jquery/dist/jquery.min.js")
        script(src="../node_modules/owl.carousel/dist/owl.carousel.min.js")
        script(src="../node_modules/slick-carousel/slick/slick.min.js")
        script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
        script(src="../scripts/cssMyLibrary.min.js")
        script(src="../scripts/index.min.js")
        script(src="scripts/order-coffee.min.js")
